[OAuth]
consumer_key=key
consumer_secret=secret
access_token=token
access_token_secret=secret

[Message]
summary_split_val=Twitter
summary_max_lines=2
summary_max_len=230
string_format="{title} \n\n {summary} \n\n {link}"

[Search]
hashtags=comma,separated,list